 <!-- Fixed navbar -->
   <!-- <nav class="navbar navbar-default navbar-fixed-top">-->
<div class="mainmenu-area">
      <div class="container" >
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Home</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li class="dropdown"><a href="/clothing" style="font-size:22px;color:black;">Clothing<i class="fa fa-angle-down"></i></a>
             <ul role="menu" class="dropdown-menu">
                <li><a href="/shop/menswear" style="font-size:18px">Mens Wear</a></li>
                <li><a href="/shop/womenswear" style="font-size:18px">Womens Wear</a></li>
                <li><a href="/shop/kidswear" style="font-size:18px">Kids Wear</a></li>
              </ul>
            </li>
               <!--  <li><a href="#about">Women</a></li>-->
              <li class="dropdown" ><a href="/electronics" style="font-size:22px;color:black;">Electronics<i class="fa fa-angle-down"></i></a>
             <ul role="menu" class="dropdown-menu">
                <li><a href="/shop/mobiles" style="font-size:18px">Mobiles</a></li>
                <li><a href="/shop/pc" style="font-size:18px">Computers</a></li>
                <li><a href="/shop/tablets" style="font-size:18px">Tablets</a></li>
              </ul>
            </li>
         
            <li class="dropdown"><a href="/accessories" style="font-size:22x;color:black;">Accessories<i class="fa fa-angle-down"></i></a>
              <ul role="menu" class="dropdown-menu">
                  <li><a href="/shop/necklace" style="font-size:18px">Necklace</a></li>
                  <li><a href="/shop/rings" style="font-size:18px">Rings</a></li>
                  <li><a href="/shop/bags" style="font-size:18px">Bags</a></li>
                  <li><a href="/shop/watches" style="font-size:18px">Watches</a></li>
              </ul>
            </li>
        <!--    <li><a href="#contact">Kids</a></li>-->
            <li class="dropdown"><a href="/books" style="font-size:22px;color:black;">Books<i class="fa fa-angle-down"></i></a>
                <ul role="menu" class="dropdown-menu">
                <li><a href="/shop/documentaries" style="font-size:18px">Documentaries</a></li>
                <li><a href="/shop/kindleebooks" style="font-size:18px">Kindlebooks</a></li>
                <li><a href="/shop/fiction" style="font-size:18px">Fiction</a></li>
              </ul>
            </li>
             <li class="dropdown"><a href="/games" style="font-size:22px;color:black;">Games<i class="fa fa-angle-down"></i></a>
            <ul role="menu" class="dropdown-menu">
                <li><a href="/shop/xbox" style="font-size:18px">Xbox</a></li>
                <li><a href="/shop/pcgames" style="font-size:18px">Windows Games</a></li>
                <li><a href="/shop/ps" style="font-size:18px">PlayStation Games</a></li>
              </ul>
            </li> 
          </ul>
        </div>
      </div>
    </div>